<% srvData = JSON.parse(atob(dataEnc)) %> <% srvData.user.data =
JSON.parse(srvData.user.data)%>

<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"
      integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/js/dashboardPage/qr.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashbord</title>
    <link rel="stylesheet" href="/css/dashboardPage.css" />
    <script src="/js/dashboardPage/inputFile.js" defer></script>
    <script src="/js/dashboardPage/showqr.js" defer></script>
  </head>
  <body>
    <nav>
      <div class="qr">
        <button class="show-qr"><img src="/images/qr.svg" alt="" /></button>
        <div class="container-qr dnone">
          <div id="qrcode"></div>
          <button onclick="downloadImage()">
            <img src="/images/download.svg" alt="" />
          </button>
        </div>
      </div>
      <button class="goto">
        <img src="/images/display.svg" alt="" />
      </button>
      <form action="/logout" method="post" id="logout">
        <button type="submit" class="logout">
          <img src="/images/logout.svg" alt="" />
        </button>
      </form>
    </nav>
    <form
      action="/login/<%= srvData.user.username %>"
      method="post"
      enctype="multipart/form-data"
      id="newItem"
    >
      <!-- ------------------------------------------------------ -->

      <div class="card-new">
        <div class="img-box">
          <input type="file" name="image" required accept="image/*" />
          <img src="" id="preview" alt="" class="dnone" />
        </div>
        <div class="detail-box">
          <div class="container-select">
            <select id="select" name="type">
              <option value="antipasti">Antipasti</option>
              <option value="primi">Primi</option>
              <option value="secondi">Secondi</option>
              <option value="dolci">Dolci</option>
              <option value="vini">Vini</option>
              <option value="bevande">Bevande</option>
              <option value="caffetteria">Caffetteria</option>
              <option value="">Altro</option>
            </select>
          </div>
          <input
            type="text"
            id="other"
            name="other"
            placeholder="Inserisci una nuova categoria"
            style="display: none"
          />
          <input
            type="text"
            name="title"
            placeholder="Es. Hamburger"
            required
          />

          <p>
            <input
              type="text"
              name="ingredients"
              placeholder="Es. bacon, eggs, chips"
              required
            />
          </p>
          <div class="options">
            <h6>
              <input
                type="number"
                step="0.01"
                name="price"
                placeholder="Es. 20.50"
                required
              />
            </h6>
          </div>
          <button type="submit"><img src="/images/send.svg" alt="" /></button>
        </div>
      </div>

      <!-- ----------------------------------------------------- -->
    </form>
    <% console.log(srvData) %>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var select = document.getElementById("select");
        var inputAltro = document.getElementById("other");
        select.addEventListener("change", function () {
          if (select.value === "") {
            inputAltro.style.display = "inline-block";
          } else {
            inputAltro.style.display = "none";
          }
        });

        const goto = document.querySelector(".goto");

        goto.addEventListener("click", () => {
          window.location.href = "/menu/<%= srvData.user.username %>";
        });
      });

      function downloadImage() {
        const image = document.querySelector("#qrcode img");
        const url = image.src.replace(
          /^data:image\/[^;]/,
          "data:application/octet-stream"
        );
        const link = document.createElement("a");
        link.download = "qrCode.png";
        link.href = url;
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
      }
    </script>

    <script>
      window.addEventListener("load", () => {
        qr(
          window.location.href.replace(
            "/login",
            "/menu/<%= srvData.user.username %>"
          )
        );
      });
    </script>
  </body>
</html>
