<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/loginPage.css" />
  </head>

  <body>
    <form action="/login" method="POST">
      <h1>Menu Digitale</h1>
      <div class="container-username container-input">
        <input type="text" placeholder="username" name="username" />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-person-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
          />
        </svg>
      </div>
      <div class="container-password container-input">
        <input type="password" placeholder="password" name="password" />
        <svg
          xmlns="http: //www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-key-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"
          />
        </svg>
      </div>
      <div class="container-link">
        <a href="/register">Register a new user</a>
      </div>
      <div class="container-button">
        <button type="submit">Login</button>
      </div>
    </form>
  </body>
</html>
