<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register Page</title>
    <script src="/js/registerPage/registerPage.js"></script>
  </head>
  <body>
    <div class="container-form">
      <form action="/register" method="post" enctype="multipart/form-data">
        <script>
          const form = document.querySelector("form");

          const inputsArray = [
            {
              name: "logo",
              type: "file",
              status: "required",
              parent: form,
            },

            {
              name: "username",
              type: "text",
              status: "required",
              parent: form,
            },
            {
              name: "password",
              type: "password",
              status: "required",
              parent: form,
            },
            {
              name: "name_restaurant",
              type: "text",
              status: "required",
              parent: form,
            },
            {
              name: "email",
              type: "email",
              status: "required",
              parent: form,
            },
            {
              name: "tel",
              type: "text",
              status: "required",
              parent: form,
            },
            {
              name: "addr",
              type: "text",
              status: "required",
              parent: form,
            },
            {
              name: "hours",
              type: "text",
              status: "required",
              parent: form,
            },
            {
              name: "open",
              type: "text",
              status: "required",
              parent: form,
            },
            {
              name: "theme",
              type: "text",
              status: "required",
              parent: form,
              value: "default",
              disabled: true

            },
            {
              name: "color",
              type: "text",
              status: "required",
              parent: form,
              value: "default",
              disabled: true
            },
          ];

          inputsArray.forEach((el) => {
            createInput(el);
          });
        </script>
        <label for="phrase">phrase</label>
        <textarea name="phrase" rows="5" cols="50"></textarea>

        <button type="submit">OK</button>
      </form>
    </div>
  </body>
</html>
