:root {
    --primary-color: #222831;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    width: min(100% - 1rem, 66pc);
    margin: 0 auto;
  }

  nav{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    background-color: #222831;
    border-radius: 50px;
    margin-bottom: 18px;
  }
  
  .card-new {
    width: 320px;
    border-radius: 15px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2);
  }
  
  .card-new .img-box {
    height: 150px;
    background: var(--primary-color);
    border-radius: 0 0 0 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .detail-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
  }
  
  input[type="text"],
  input[type="number"],
  .container-select {
    width: 200px;
    border-radius: 35px;
    padding: 5px 12px;
    outline: none;
    border: none;
    box-shadow: 0 0 3px 0 black;
  }
  
  select {
    text-align: center;
    border: none;
    background: transparent;
    width: 100%;
    outline: none;
  }
  
  input[type="file"] {
    color: white;
  }
  
  button, .goto {
    display: block;
    aspect-ratio: 1;
    width: min-content;
    border-radius: 50%;
    border: none;
    padding: 0.6rem 1.8rem;
    background: var(--primary-color);
    color: white;
    font-size: 1.1rem;
    width: min-content;
    aspect-ratio: 1;
    cursor: pointer;
  }



  
  #preview {
    padding: 20px;
    height: 100%;
  }
  
  .removeImg {
    height: 30px;
    width: 30px;
    position: absolute;
    border-radius: 50%;
    right: 10px;
    top: 10px;
    position: absolute;
  }

  
  

  .dnone {
    display: none!important;
  }

  .container-qr{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 18px;
    margin-top: 5px;
    z-index: 10;
    background: white;
    padding: 10px;
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.3);
    transform: scale(0.95);

  }

